.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  object-fit: contain;
  height: 400px;
}

.gridContainer > div {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  overflow: hidden;
}

.gridContainer2 {
  display: grid;
  grid-template-rows: auto auto auto;
  width: 60%;
}

.gridContainer3 {
  display: grid;
  grid-template-columns: 5% auto;
}

.gridContainer3 i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridContainer4 {
  display:grid;
  grid-template-columns: 5% auto 5% auto;
}

.gridContainer4 h4 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.gridContainer4 i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridContainer5 {
  display: grid;
  grid-auto-rows: auto auto;
}

.gridContainer6 {
  display: grid;
  text-align: center;
}

.gridContainer6 {
  width: 200px;
  height: 200px;
  padding: 24px;
  border: 1px solid grey;
  box-sizing: border-box;
  align-items: center;
}

.title {
  overflow-wrap: break-word;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.125em;
  color: rgb(72, 72, 72);
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0px;
  position: relative;
  text-align: left;
  float: left;
  padding: 4px;
  width: 60%;
  border-bottom: 1px solid grey;
}

.description {
  overflow-wrap: break-word;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: rgb(72, 72, 72);
  margin: 0px;
  position: relative;
  float: left;
  padding: 4px;
  box-sizing: border-box;
  width: 60%;
}


.pic1 {
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  overflow: hidden;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#photos {
  cursor: pointer;
  transition: 0.3s;
}

#photos img:hover {opacity: 0.7;}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  overflow: auto;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
}

.modalContent img{
  margin: auto;
  display: block;
  width: 100%;
  height: 80%;
  max-width: 700px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: grey;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color:grey;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


img.demo {
  opacity: 0.6;
}

.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}
