.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  object-fit: contain;
  height: 400px;
}

.gridContainer > div {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  overflow: hidden;
}

.gridContainer2 {
  display: grid;
  grid-template-rows: auto auto auto;
  width: 40%;
  margin-left: 10vw;
}

.gridContainer3 {
  display: grid;
  grid-template-columns: 5% auto;
}

.gridContainer3 i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.gridContainer4 {
  display:grid;
  grid-template-columns: 5% auto 5% auto;
  margin-bottom: 16px;
}

.gridContainer4 h4 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.gridContainer4 i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridContainer5 {
  display: grid;
  grid-auto-rows: auto auto;
}

.gridContainer6 {
  text-align: center;
  width: 150px;
  height: 150px;
  display: grid;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(235, 235, 235);
  border-image: initial;
  border-radius: 4px;
  padding: 16px;
}

.title {
  overflow-wrap: break-word;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.125em;
  color: rgb(72, 72, 72);
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0px;
  position: relative;
  text-align: left;
  float: left;
  padding: 4px;
  width: 100%;
}

.description {
  overflow-wrap: break-word;
  font-family: Roboto,"Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: rgb(72, 72, 72);
  margin: 0px;
  position: relative;
  float: left;
  padding: 4px;
  box-sizing: border-box;
  width: 100%;
}


.pic1 {
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  overflow: hidden;
}


.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#photos {
  cursor: pointer;
  transition: 0.3s;
}

#photos img:hover {opacity: 0.7;}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  overflow: auto;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
}

.modalContent img{
  margin: auto;
  display: block;
  width: 100%;
  height: 80%;
  max-width: 700px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: grey;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color:grey;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.img.demo {
  opacity: 0.6;
}

.demo:hover {
  opacity: 1;
}

.img.hover-shadow {
  transition: 0.3s;
}

.line {
  margin-top: 24px;
  margin-bottom: 24px;
  border-bottom-width: 1px;
  border-bottom-color: #c4c3cd;
  border-bottom-style: solid;
}

.gridContainer4 h4 {
  overflow-wrap: break-word;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375em;
  color: rgb(72, 72, 72);
  margin-bottom: 16px;
}

.gridContainer5 h4{
  overflow-wrap: break-word;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375em;
  color: rgb(72, 72, 72);
  margin-bottom: 16px;
}

.gridContainer5 h5{
  overflow-wrap: break-word;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375em;
  color: rgb(72, 72, 72);
  margin-bottom: 16px;
}

.gridContainer6 p{
  overflow-wrap: break-word;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: rgb(72, 72, 72);
  margin: 0px;
}

.gridContainer3 p {
  overflow-wrap: break-word;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: rgb(72, 72, 72);
  margin-top: 16px
}

.gridContainer4 p {
  overflow-wrap: break-word;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: rgb(72, 72, 72);
  margin-bottom: auto;
}

.gridContainer4 .line{
  grid-column-start: 1;
  grid-column-end: 5;
}

.gridContainer5 i {
  align-items: center;
  margin-bottom: 24px;
}
